
#dependencias
.idea/

venv/

# Archivos
demo.py
larepublicaco.py

# Archivos Ouput
resultados.csv
resultados_eluniverso.csv
crisol_scraping_vertical.csv
tripadvisor_scraping_vertical.csv
thesun_scraping_vertical.csv